@import url("https://fonts.googleapies.com?family=Source+San+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background-color: #fff;
}

.container {
    width: 100%;
    margin: 1em auto;
    background-color: transparent;
}

.grid {
    display: grid;
    margin-left: .5px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.6em;
    justify-content: center;
}

.card-img-top {

}